{% extends "template.html.twig" %}

{% block title %}{{ parent() }} | Login{% endblock %}

{% block content %}
    <div class="mb-5 mt-12">
        <div class="container mx-auto max-w-xs sm:max-w-md md:max-w-lg lg:max-w-xl shadow-md dark:shadow-white px-6 sm:px-10 bg-white dark:bg-gray-800 border-blue-400 rounded-md">
            <div>
                <h1 class="text-center text-2xl sm:text-3xl font-bold text-gray-900 dark:text-white">
                    Login
                </h1>
                <form action="" method="POST">
                    <label>
                        <input type="text" class="hidden" name="csrf:csrf_token" value="{{ csrfToken }}">
                    </label>
                    <div class="my-2">
                        <label for="loginName"
                               class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">
                            Username
                        </label>
                        <input type="text"
                               name="str:user_name"
                               class="block w-full border border-blue-400 outline-blue-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                               id="loginName"
                               autofocus
                               required>
                    </div>


                    <div class="my-2">
                        <label for="loginPassword"
                               class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">
                            Password
                        </label>
                        <input type="password"
                               name="pass:user_pass"
                               class="block w-full border border-blue-400 outline-blue-800 px-2 py-2 text-sm sm:text-md rounded-md my-2 bg-white dark:bg-gray-700 text-gray-900 dark:text-white"
                               id="loginPassword"
                               required>
                    </div>
                    <div class="flex justify-center">
                        <button class="px-4 py-1 bg-blue-400 rounded-md
                            text-black text-sm sm:text-lg shadow-md mb-4"
                                name="unset:loginUser"
                                type="submit">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}