{% extends "template.html.twig" %}

{% block content %}
    <div class="relative py-12 bg-gradient-to-br from-sky-50 to-gray-200">
        <div class="relative container min-h-screen m-auto px-6 text-gray-500 md:px-12 xl:px-40">
            <div class="m-auto md:w-8/12 lg:w-6/12 xl:w-6/12">
                <div class="rounded-xl bg-white shadow-xl">
                    <div class="p-6 sm:p-16">
                        <div class="mt-6 grid space-y-4">
                            <button class="admin-button-standard">
                                <span class="relative flex items-center space-x-4 justify-center">
                                    <a href="?route=addMainTheme">
                                        <span class="block w-max font-semibold tracking-wide
                                                    text-gray-700 text-sm transition duration-300
                                                    group-hover:text-blue-600 sm:text-base">
                                            Add Main Theme
                                        </span>
                                    </a>
                                </span>
                            </button>
                            <button class="admin-button-standard">
                                <span class="relative flex items-center space-x-4 justify-center">
                                    <a href="?route=addSubTheme">
                                        <span class="block w-max font-semibold tracking-wide
                                                    text-gray-700 text-sm transition duration-300
                                                    group-hover:text-blue-600 sm:text-base">
                                            Add Sub Theme
                                        </span>
                                    </a>
                                </span>
                            </button>
                            <button class="admin-button-standard">
                                <span class="relative flex items-center space-x-4 justify-center">
                                    <a href="?route=addPage">
                                        <span class="block w-max font-semibold tracking-wide
                                                    text-gray-700 text-sm transition duration-300
                                                    group-hover:text-blue-600 sm:text-base">
                                            Add Page
                                        </span>
                                    </a>
                                </span>
                            </button>
                            <button class="admin-button-standard">
                                <span class="relative flex items-center space-x-4 justify-center">
                                    <a href="?route=addNewTag">
                                        <span class="block w-max font-semibold tracking-wide
                                                    text-gray-700 text-sm transition duration-300
                                                    group-hover:text-blue-600 sm:text-base">
                                            Add HTML Tag
                                        </span>
                                    </a>
                                </span>
                            </button>
                            <div class="w-fit mx-auto mt-8">
                                <div class="flex flex-col items-center">
                                    <div class="flex items-center gap-2">
                                        {% if siteActive %}
                                            <div class="hidden" id="activeStatus"></div>
                                        {% endif %}
                                        <label>
                                        Inactive<input
                                                id="switch-link"
                                                type="checkbox"
                                                class="appearance-none relative inline-block rounded-full
                                w-12 h-6 cursor-pointer before:inline-block before:absolute
                                before:top-0 before:left-0 before:w-full before:h-full
                                before:rounded-full before:bg-stone-200 before:transition-colors
                                before:duration-200 before:ease-in after:absolute after:top-2/4
                                after:left-0 after:-translate-y-2/4 after:w-6 after:h-6
                                after:border after:border-stone-200 after:bg-white
                                after:rounded-full checked:after:translate-x-full
                                after:transition-all after:duration-200 after:ease-in
                                disabled:opacity-50 disabled:cursor-not-allowed dark:after:bg-white
                                checked:before:bg-stone-800 checked:after:border-stone-800"
                                        />Active</label>
                                    </div>
                                </div>.

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="{{ PUB_DIR }}scripts/switchBeacon.js"></script>
{% endblock %}