{% extends "template.html.twig" %}

{% block content %}
    {{ dump(tags) }}
    <div class="mb-5 mt-12">
        <div class="container mx-auto max-w-sm shadow-md dark:shadow-white px-6 sm:px-10 bg-white dark:bg-gray-800 border-blue-400 rounded-md">
            <div>
                <h1 class="text-center text-2xl sm:text-3xl font-bold text-gray-900 dark:text-white">
                    Add Tag
                </h1>
                <form action="" method="POST">
                    <label>
                        <input type="text" class="hidden" name="csrf:csrf_token" value="{{ csrfToken }}">
                    </label>
                    <div class="my-2">
                        <label for="tagName"
                               class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">
                            Name
                        </label>
                        <input type="text"
                               name="str:tag_name"
                               class="input-standard"
                               id="tagName"
                               autofocus
                               required>
                    </div>
                    <div class="my-2">
                        <label for="tagClose"
                               class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">
                            No Closing Tag?
                        </label>
                        <input type="checkbox"
                               name="check:tag_no_close"
                               class="input-standard"
                               id="tagClose"
                               >
                    </div>

                    <div class="flex justify-center">
                        <button class="px-4 py-1 bg-blue-400 rounded-md
                            text-black text-sm sm:text-lg shadow-md mb-4"
                                name="unset:addNewTag"
                                type="submit">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}