<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        {% block meta %}
            <meta property="og:title" content="English Classes by Leerlandais">
            <meta property="og:description" content="A collection of courses for English language learners">
            <meta property="og:image" content="https://leerlandais.com/favicon.ico">
            <meta property="og:url" content="https://leerlandais.com/school">
            <meta property="og:type" content="website">
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheet %}{% endblock %}
    {% endblock %}
</head>
{% block body %}
    <body class={% block bodyClass %}{% endblock %}>
    {% block systemMessage %}{% endblock %}
    {% block header %}{% endblock %}
    <div class="flex">
        {% block sideBar %}{% endblock %}
        <main class={% block mainClass %}{% endblock %}>
            {% block content %}
            {% block dumpArea %}
                {% endblock %}
            {% endblock %}
            {% block footer %}
            {% endblock %}
        </main>
    </div>
    {% block javascript %}{% endblock %}
    </body> {% endblock %}
</html>